<h1>SRBIJA</h1>
<p>Dok budete prelistavali strane sa ski centrima Srbije, sigurno će te zaključiti da smo zemlja bogata ne iskorišćenim mogućnostima za skijanje (Stara Planina, Golija, Besna kobila ).

  Kada se uporede smeštajni kapaciteti, koji danas više nisu mali, sa dužinom staza i brojem žičara, uočiće se velika ne srazmernost. Ipak poslednjih godina je situacija na planinama Srbije je znatno bolje, Izgrađene su nove moderne žičare na Kopaoniku, Staroj Planini, Zlatiboru... Postoje planovi za nova skijalista, radi se infrastruktura u planinskim centrima...
  
  Ponuda skijališta u Srbiji je iz dana u dan sve bolja. Ako se odlučite da Vaš naredni zimski odmor provedete na nekom od dole predstavljenih ski centara, pronaći će te mnoštvo hotela smeštenih na samim skijalištima ili u nekim od gradova u podnožju planinskih centara. A ukoliko želite olakšati potragu za smeštajem, brzo i jednostavno pronaći hotel  - obratite se nekojm od brojnih turističkih agencija ili pogledajte ponude na internetu, nprimer na sajtu trivago.rs.</p>

  <div class="gallery">
    <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/kopaonik/">
      <img src="../../../assets/images_1/kopaonik.jpg" alt="Kopaonik" width="600" height="400">
    </a>
    <div class="desc">Kopaonik</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/besna-kobila/">
      <img src="../../../assets/images_1/besna_kobila.jpg" alt="Besna kobila" width="600" height="400">
    </a>
    <div class="desc">Besna kobila</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/brezovica/">
      <img src="../../../assets/images_1/brezovica.jpg" alt="Brezovica" width="600" height="400">
    </a>
    <div class="desc">Brezovica</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/divcibare/">
      <img src="../../../assets/images_1/divcibare.jpg" alt="Divcibare" width="600" height="400">
    </a>
    <div class="desc">Divcibare</div>
  </div>

    <div class="gallery">
      <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/goc-kraljevo/">
        <img src="../../../assets/images_1/goc.jpg" alt="Goc" width="600" height="400">
      </a>
      <div class="desc">Goc</div>
    </div>

      <div class="gallery">
        <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/golija-odvracenica/">
          <img src="../../../assets/images_1/golija.jpg" alt="Golija" width="600" height="400">
        </a>
        <div class="desc">Golija</div>
      </div>

        <div class="gallery">
          <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/stara-planina/">
            <img src="../../../assets/images_1/stara_planina.jpg" alt="Stara planina" width="600" height="400">
          </a>
          <div class="desc">Stara planina</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/bojanine-vode-suva-planina/">
            <img src="../../../assets/images_1/suva_planina.jpg" alt="Suva planina" width="600" height="400">
          </a>
          <div class="desc">Suva planina</div>
        </div>
  
        <div class="gallery">
          <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/tara/">
            <img src="../../../assets/images_1/tara.jpg" alt="Tara" width="600" height="400">
          </a>
          <div class="desc">Tara</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://www.skijanje.rs/ski-centri/srbija/tornik-zlatibor/">
            <img src="../../../assets/images_1/tornik_zlatibor.jpg" alt="Zlatibor" width="600" height="400">
          </a>
          <div class="desc">Zlatibor</div>
        </div>