<p>Skijanija.rs je srpski skijaški web portal koji prati sve aspekte skijanja, ski centara i zimskih sportova kako u Srbiji tako u okruženju i šire.

    Portal je na internetu dostupan od 20.01.2000. godine. Sve je započeto i sve ove godine traje zahvaljujući ski entuzijazmu kako autora ovog sajta tako i posetilaca, bez čijeg učešća, poslatih vesti, komentara, fotografija, sajt Skijanje.rs ne bi bio to što jeste.
    
    Treba posebno istaći Forum sajta na kome prvi postovi datiraju iz februara 2004. Svojom aktivnošću svih ovih godina, Forum je postao onlajn zajednica ljudi koji razmenjuju svoja skijaška iskustva ili sa drugima dele strast prema skijanju i snežnim zadovoljstvima.
    
    Posle višemesečnog intenzivnog rada 28. septembra 2011. postavljena je nova verzija sajta koja je preglednija i funkcionalnija. I pored širokog spektra skijaških tema koje sajt godinama obrađuje, nastojalo se da bude što jednostavniji za upotrebu.
    
    Svi segmenti sajta su međusobno povezani zajedničkim kategorijama, što bi trebalo da omogući da se lakše dodje do svih informacija na željenu temu.
    
    Zahvaljujem svima koji su do sada i onima koji će u buduće na mnogo lakši i jednostavniji način, učestvovati u kreiranju strana ovog sajta. Za sva vaša pitanja, predloge, sugestije stojim na raspolaganju.
</p>

<p>Autor sajta:
<i>Dragica Krivokuca</i>
</p>